Link {
    color: black;
    text-decoration: none;
}

tbody {
    background-color: white;
}

thead {
    background-color: #3c3c3c;
    color: white;
}

table {
    border-collapse: separate;
    margin-top: 20px;
}

thead {
    border-radius: 50px;
}

.img-fluid {
    height: 20px;
}