.card-com {
    background-color: #D9D9D9;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.card-com-title {
    border: 2px solid black;
    background-color: #3c3c3c;
    color: #dddddd;
    text-align: end;
}