
h3 {
    color: white;
    opacity: 100%;
}

.headerClass {
    border: 1px solid black;
    border-radius: 15px;
    height: 100px;
    background-color: rgba(119, 136, 153, 0.3);
    margin-bottom: 20px;
}

img {
    height: 80px;
    margin: 10px;
}

.lien {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lien:hover {
    background-color: #ddd;
    color: black;
}