.bloc3 {
    background-color: #D9D9D9;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    border-radius: 3px;
}

label {
    margin: 10px;
}

