.content, .body {
    width: 100%;
    color: black;
}


.pagePrincipale {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.text {
    background-color: #D9D9D9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    display: inline-block;
}

